@import './assets/css/font.css';

:root {
  --black: #000000;
  --primary: #0f56b3;
  --grey-bg: #fbfbfb;
  --grey: #787878;
  --white: #ffffff;
  --blueBg: #c5dcfa;
  --baseFont: 'Manrope', sans-serif;
  --subtitle1: normal 700 1rem/1.5rem var(--baseFont);
  --overline: normal 800 0.8rem/1rem var(--baseFont);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background: var(--primary);
  font-family: var(--baseFont);
}
